# Data
pandas
numpy
matplotlib

# Streamlit UI
streamlit
folium
streamlit-folium
altair

# Google Cloud
google-cloud-pubsub
google-cloud-bigquery
google-cloud-firestore
functions-framework

# BigQuery dataframe support
db-dtypes